@media only screen and (min-width: 1100px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container{
    padding: 0 100px 0 100px;
}
nav ul,
.main-info-section,
.projects-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
body{
    background-color: #252627;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
header h1{
    font-family: Snell Roundhand;
    font-style: oblique;
}
.navbar {
    background-color: #181818;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.text {
    margin-top: 50px;
}
.text h1,
.text p,
.text a {
    margin-top: 50px;
}
header h1,
header a,
.text p,
.about h1,
.skills h1,
.projects h1,
.contact h1 {
    color: #707070;
}
li {
    list-style: none;
    margin-left: 30px;
}
a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}   
nav a:hover {
    color:#fff;
    border-bottom: 1px solid;
}
.main-info-section {
    height: calc(100vh - 81.6px);
}
.text {
    margin-top: 120px;
}
.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}
.text span {
    display: inline-block;
}
span:hover {
    color: #48CFAD;
    transition: all 2s;
    animation: rubberBand 1s;
}
span.name {
    color: #ED5565;
}
span.m-left {
    margin-left: -10px;
}
.text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
    margin-top: 10px;
}
.text .contactme a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}
.text .contactme a:hover {
    color: #fff;
}
.text .contactme a::before {
    content: '';
    background-color: #ED5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}
.text .contactme a:hover::before {
    height: 100%;
}
.text i {
    font-size: 25px;
    color: #fff;
    margin-top: 10px;   
}
.text i {
    color: #fff;
    background-color: #252627;
    padding: 5px;
    border-radius: 10px;
    transition: .5s;
}
.text i:hover {
    color: #ED5565;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    transition: .5s;
}
.text .face_book {
    color: #fff;
    background-color: #252627;
    padding: 5px 10px;
    border-radius: 60px;
    transition: .5s;
}
.text .face_book:hover {
    color: #ED5565;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 60px;
    transition: .5s;
}
.text .mediaicons {
    max-width: 200px;
    display: flex;
    justify-content: space-between;
}
.text .mediaicons a {
    border: none;
}
.profile-image img {
    width: 450px;
    border: 4px solid #ED5565;
    padding: 10px;

}
.profile-image{
    position: relative;
    height: 350px;
    margin-top: 160px;
} 
.profile-image::before,.profile-image::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background: #252627;
    transform: skewX(50deg);
    transition: .3s linear;
}
.profile-image::before {
    left: 35px;
}
.profile-image::after {
    top: 341px;
    right: 40px;
}
.profile-image:hover::before {
    left: 80%;
}
.profile-image:hover::after {
    right: 80%;
}
.about {
    height: 100vh;
    margin-top: 100px;
}
.about h1,
.projects h1 {
    font-size: 10rem;
    z-index: 0;
    opacity: .1; 
}
.about-me-info {
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.about-me-info p {
    font-size: 1.3rem;
    color: #BEBEBE;
}
.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top: 30px;
}
.about img {
    width: 500px;
    position: relative;
    top: -300px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform: translateX(calc(-100% + 100px));
    opacity: .3;
}
.skills{
    height: 100vh;
}
.skills h1,
.contact h1 {
    text-align: right;
    font-size: 10rem;
    opacity: .1;
}
.skills-info{
    font-size: 1.4rem;
    color: #BEBEBE;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}
.progress {
    width: 50%;
    position: relative;
    left: 25%;

}
.progressbar {
    width: 100%;
    position: relative;

    bottom: 200px;
}
.progressbar li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}
.progressbar li::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 15px;
    border: 2px solid #48CFAD;
    border-radius: 1000px;
}
.progressbar li::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    width: 0%;
    height: 15px;
    background-color: #48CFAD;
    border-radius: 1000px;
    animation-duration: 2.5s;
    animation-delay: inherit;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.progressbar li.html:after {
    animation-name: html;
}
@keyframes html {
    to {
        width: 90%;
    }
}
.progressbar li.css:after {
    animation-name: css;
}
@keyframes css {
    to {
        width: 75%;
    }
}
.progressbar li.js:after {
    animation-name: js;
}
@keyframes js {
    to {
        width: 60%;
    }
}
.progressbar li.dbms:after {
    animation-name: dbms;
}
@keyframes dbms {
    to {
        width: 70%;
    }
}

.prohead h1 {
    font-size: 9rem;
    z-index: 0;
    opacity: .05;
    color: #fff;
    margin-top: 100px;
    margin-left: 5%;
}
.projects {
    width: 90%;
    margin-top: 0px;
    position: relative;
    left: 5%;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
}
.back_ground {
    background-color: #252627;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.post {
    width: 60%;
    position: relative;
    left: 20%;
    cursor: pointer;
}
.post:hover .post-s {
    width: 100%;
}
.post img {
    display: block;
    width: 100%;

}
.post-s {
    width: 0px;
    height: 100%;
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease;
}
.post-s h2 {
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border: 2px solid #ED5565;
    z-index: 10;
    background-color: #252627;
    width: 50%;
    color: white;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    display: none;
}

.modal-header {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ED5565;
}
.modal-header .title {
    font-size: 1rem;
    font-weight: bold;
    color: #ED5565;
}
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ED5565;
}
.modal-body {
    padding: 20px 20px;
}
.contact {
    margin-top: 150px;
}
form input,
form textarea {
    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}
form input:last-child {
    width: 150px;
    background-color: #ED5565;
    cursor: pointer;
}
footer hr {
    border: 2px solid #707070;
}
footer p {
    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}
@keyframes rubberBand {
    0%{
        transform: scale3d(1,1,1);
    }
    35%{
        transform: scale3d(1.25,.75,1);
    }
    45%{
        transform: scale3d(.75,1,1);
    }
    60%{
        transform: scale3d(1,2,.8,1);
    }
    75%{
        transform: scale3d(1,1,1);
    }
    100%{
        transform: scale3d(1,1,1);
    }
}
.mobile {
    display: none;
}
.personal {
    background-color: #181818;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 0;
    margin-top: 100px;
    
}
.location {
    color: #fff;
    
}
.personal .location i{
    margin-top: 150px;
    color: #ED5565;
    font-size: 3.5rem;
}
.personal .location h2 {
    margin-top: 50px;
    color: #ED5565;
}
.personal .location p {
    opacity: .4;
}
.personal .location .line1 {
    margin-top: 50px;
}
.personal .location .line2 {
    margin-top: 25px;
}
.personal .location .line3 {
    margin-top: 25px;
}
.mail {
    color: #fff;
}
.personal .mail i {
    margin-top: 150px;
    color: #ED5565;
    font-size: 3rem;
}
.personal .mail h2 {
    margin-top: 50px; 
    color: #ED5565;
}
.personal .mail p {
    margin-top: 50px;
    opacity: .4;
}
.phone {
    color: #fff;
}
.personal .phone i {
    margin-top: 150px;
    color: #ED5565;
    font-size: 3rem;
}
.personal .phone h2 {
    margin-top: 50px;
    color: #ED5565;
}
.personal .phone p {
    opacity: .4;
}
.personal .phone .number1 {
    margin-top: 50px;
}
.personal .phone .number2 {
    margin-top: 25px;
    padding-bottom: 150px;
}
}

@media only screen and (max-width: 1099px) {
    .desktop {
        display: none;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'PT Sans', sans-serif;
    }
    body {
        background: rgb(223, 215, 215);
        width: 100%;
    }
    .navbar_mobile {
        background: linear-gradient(70deg,#003D66 35%,#005C99 65%,#008AE6 100%);
        width: 100%;
        height: 150px;
        color: #D8D8D8;
        font-size: 70px;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .navbar_mobile h1{
        margin-top: 20px;
        font-family: Snell Roundhand;
        font-style: oblique;    
    }
    .menuicon {
        cursor: pointer;
    }
    .menudrop {
        background-color: #003D66;
        width: 100%;
    }
    .menudrop ul {
        list-style-type: none;
    }
    .menudrop a {
        text-decoration: none;
        color: #D8D8D8;
    }
    .menudrop a:hover {
        color: #003D66;
    }
    .menudrop li {
        padding: 10px;
        text-align: center;
        font-size: 45px;
    }
    .menudrop li:hover {
        background-color: black;
        opacity: 0.7;
    }
    header nav {
        position: absolute;
        width: 100%;
        top: 151px;
        right: 1px;
        left: -100%;
        transition: 0.5s;

    }
    header nav.active {
        left: 0;
    }
    .menu-toggle {
        display: block;
    }
    .text {
        background-color: black;
        opacity: 0.85;
        color: white;
        text-align: center;
        margin-top: 217px;
        width: 100%;
    }
    .main-info-section {
        background-image: url("saideep_mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
    
    }
    .text p,
    .text a {
       
    }
    .text h1 {
        color: #fff;
        font-size: 4.5rem;
        cursor: context-menu;
         margin-top: 113px;
    }
    .text span {
        display: inline-block;
    }
    span:hover {
        color: #003D66;
        transition: all 1s;
        animation: rubberBand 1s;
    }
    span.name {
        color: #fff;
    }
    span.m-left {
        margin-left: -10px;
    }
    .text p {
        letter-spacing: 3px;
        word-spacing: 10px;
        font-size: 1.5rem;
        margin-top: 30px;
    }
    @keyframes rubberBand {
        0%{
            transform: scale3d(1,1,1);
        }
        35%{
            transform: scale3d(1.25,.75,1);
        }
        45%{
            transform: scale3d(.75,1,1);
        }
        60%{
            transform: scale3d(1,2,.8,1);
        }
        75%{
            transform: scale3d(1,1,1);
        }
        100%{
            transform: scale3d(1,1,1);
        }
    }
    .text .contactme {
        margin-top: 50px;
    }
    .text .contactme a {
        padding: 30px 45px;
        background-color: none;
        border: 3px solid #fff;
        color: #fff;
        font-size: 1.8rem;
        letter-spacing: 2px;
        position: relative;
        overflow: hidden;
        transition: .5s;
        display: inline-block;
        text-decoration: none;
        font-weight: bold;
        margin-top: 200px;
    }
    .text .contactme a:hover {
        color: #003D66;
    }
    .text .contactme a::before {
        content: '';
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0%;
        z-index: -1;
        transition: .5s;
    }
    .text .contactme a:hover::before {
        height: 100%;
    }
    .text i {
        font-size: 60px;
        color: #fff;   
    }
    .text .face_book {
        margin-left: 70px;
        margin-right: 70px;
    }
    .text i:hover {
        color: #003D66;
        transition: .5s;
    }
    .text .mediaicons {
        display: flex;
        justify-content: center;
        margin-top: 250px;        
    }
    .text .mediaicons a {
        border: none;
    }
    .about {
        margin-top: 190px;
        width: 100%;
    }
    .about h1,
    .projects h1 {
        font-size: 10rem;
        z-index: 0;
        opacity: .1; 
    }
    .about-me-info {
        max-width: 90%;
        background-color: rgb(223, 215, 215);
        box-shadow: 0 0 1.5rem rgba(0,0,0,1);
        padding: 50px;
        position: relative;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        
        z-index: 0;
        padding-right: 100px;

    }

    .about-me-info h2 {
        color: rgb(2, 106, 200);
        position: relative;
        left: 2%;
        right: 32%;
        font-weight: bolder;
        margin-bottom: 30px;
        text-align: center;
    }
    .about-me-info span {
        font-weight: bold;
    }
    .about-me-info p {
        margin-top: 100px;
    }

    .skills {
        margin-top: 70px;
        width: 100%;
    }
    .skills h1,
    .contact h1 {
        text-align: right;
        font-size: 10rem;
        opacity: .1;
        margin-top: 200px;
    }
    .skills-info{
        font-size: 1.1rem;
        background-color: rgb(223, 215, 215);
        box-shadow: 0 0 1.5rem rgba(0,0,0,1);
        padding: 50px;
        max-width: 90%;
        position: relative;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 0;

    }
    .progress {
        width: 70%;
        position: relative;
        left: 15%;
        margin-top: 100px;
    
    }
    .progressbar {
        width: 100%;
        position: relative;
        top: 70px;

    }
    .progressbar li {
        position: relative;
        list-style: none;
        margin: 60px 0;
        font-weight: 500;
        font-size: 2rem;
        text-transform: uppercase;
        color: #003D66;
    }
    .progressbar li::before {
        content: "";
        position: absolute;
        top: 32px;
        left: 0;
        width: 100%;
        height: 15px;
        border: 2px solid #003D66;

    }
    .progressbar li::after {
        content: "";
        position: absolute;
        top: 34px;
        left: 0;
        width: 0%;
        height: 15px;
        background-color: #003D66;
        animation-duration: 2.5s;
        animation-delay: inherit;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    .progressbar li.html:after {
        animation-name: html;
    }
    @keyframes html {
        to {
            width: 90%;
        }
    }
    .progressbar li.css:after {
        animation-name: css;
    }
    @keyframes css {
        to {
            width: 75%;
        }
    }
    .progressbar li.js:after {
        animation-name: js;
    }
    @keyframes js {
        to {
            width: 60%;
        }
    }
    .progressbar li.dbms:after {
        animation-name: dbms;
    }
    @keyframes dbms {
        to {
            width: 70%;
        }
    }
    .prohead {
        font-size: 5rem;
        margin-top: 400px;
        opacity: .1;
    }
    .projects {
        width: 100%;
        margin-top: 50px;
        box-shadow: 0 0 1.5rem rgba(0,0,0,1);
    }
    .back_ground {
        background-color: rgb(223, 215, 215);
        padding-top: 20px;
        
    }
    .projects h1 {
        font-size: 5rem;
    }
    .post {
        width: 90%;
        position: relative;
        left: 5%;
        cursor: pointer;
    }
    .post .post-s {
        width: 100%;
    }
    .post img {
        display: block;
        width: 100%;

    }
    .post-s {
        width: 0px;
        height: 100%;
        background: black;
        opacity: 0.7;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.5s ease;
    }
    .post-s h2 {
        color: white;
        font-size: 40px;
        padding: 10px 30px;    
    }
    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 200ms ease-in-out;
        border: 2px solid #003D66;
        z-index: 10;
        background-color: rgb(223, 215, 215);
        width: 80%;
        color: black;
        box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
        display: none;
        scroll-behavior: none;
    }
    
    .modal-header {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid #003D66;
        background-color: #003D66;
    }
    .modal-header .title {
        font-size: 2.5rem;
        font-weight: bold;
        color: #fff;
    }
    .modal-header .close-button {
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 3.5rem;
        font-weight: bold;
        color: #fff;
    }
    .modal-body {
        padding: 20px 20px;
        font-size: 2.5rem;
    }
    .modal-body img {
        width: 100%;
    }
    .contact {
        margin-top: 150px;
    }
    form input,
    form textarea {
        display: block;
        width: 70%;
        padding: 20px;
        background-color: #fff;
        border: 3px solid #707070;
        margin: 20px 0;
        outline: none;
        font-size: 2.2rem;
        color: #fff;
        position: relative;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }
    form input:last-child {
        width: 35%;
        background-color: #003D66;
        cursor: pointer;
    }
    footer hr {
        border: 2px solid #707070;
    }
    footer p {
        text-align: center;
        color: #707070;
        font-size: 1.2rem;
        padding: 30px 0;
    }
    .personal {
        background-color: #003D66;
        position: relative;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 0;
        margin-top: 100px;
        
    }
    .location {
        color: #fff;
        
    }
    .personal .location i{
        margin-top: 150px;
        color: #fff;
        font-size: 6rem;
    }
    .personal .location h2 {
        margin-top: 50px;
    }
    .personal .location p {
        opacity: .7;
    }
    .personal .location .line1 {
        margin-top: 50px;
    }
    .personal .location .line2 {
        margin-top: 25px;
    }
    .personal .location .line3 {
        margin-top: 25px;
    }
    .mail {
        color: #fff;
    }
    .personal .mail i {
        margin-top: 150px;
        color: #fff;
        font-size: 5.5rem;
    }
    .personal .mail h2 {
        margin-top: 50px; 
    }
    .personal .mail p {
        margin-top: 50px;
        opacity: .7;
    }
    .phone {
        color: #fff;
    }
    .personal .phone i {
        margin-top: 150px;
        color: #fff;
        font-size: 5.5rem;
    }
    .personal .phone h2 {
        margin-top: 50px;
    }
    .personal .phone p {
        opacity: .7;
    }
    .personal .phone .number1 {
        margin-top: 50px;
    }
    .personal .phone .number2 {
        margin-top: 25px;
        padding-bottom: 150px;
    }
}     


